body {
  text-align: center;
}

.jumbotron {
  background-color: #d9edf7;
}

#question1, #question2, #question3, #question4, #question5, #nameDisplay, #CSharp, #Java, #PHP, #Ruby {
  display: none;
}

#next {
  width:10%;
}

#name {
  width:50%;
  margin:auto;
}

#nameDisplay {
  margin-bottom: 3%;
}

.panel-heading{
  font-size: 1.5em;
}
